img{
    display: none;
}

#Game_canvas{
    border: 3px solid; 
    align-content: center;
    height: 80svh;
    width: 140svh;
    background-size: 100%;
}

#Text_canvas{
    border: 3px solid; 
    align-content: center;
    width: 140svh;
    height: 20svh;
    background-color: white;
}

#Container{
    text-align: center;
    display: flex;
    flex-direction: column;
}

body{
    background-image: url("Bilder/Outside_background.png");
    background-size: 40%;
}

